.monitor {
    opacity: 0.85;
    padding: 2px;
  
    border-radius: 0.5em;
    background-color: #2e3440ff;
    border: unset;
}

.monitor_active {
    border: unset;
    background: transparent;
}

.index {
    background: transparent;
    border: unset;
    color: #b48ead;
}

.workspace {
    background: #3b4252;
    font-size: 10;
    border: unset;
}

.client-image {
    background: transparent;
    margin-top: 5px;
    margin-bottom: 5px;
}

.client {
    background: #4c566a;
}

.client_active {
    border: #88c0d0;
    background: #5e81ac;
    border-radius: 5px;
    padding: 2px;
}

